@keyframes backgroundAnimation {
    0%{background-position:50% 50%}
    50%{background-position:100% 50%}
    100%{background-position:50% 50%}
}


@keyframes DownloadAnimation {
    0%{background: white;}
    50%{background: white;}
    51%{background: rgba(1, 1, 1, 0);}
    100%{background: rgba(1, 1, 1, 0);}
}


body {
    margin: 0px;
    /*background: linear-gradient(305deg, #44c1a1, #9c009d);*/
    background: linear-gradient(318deg, #4b48b6, #00b61f);
    background-size: 400% 400%;
    animation: backgroundAnimation 29s ease infinite;
} 

header {
    display: flex;
    justify-content: center;
    background: rgba(1, 1, 1, 0);
    height: 4em;
    z-index: 999999;
}

header img {
    height: 2em;
    margin: 1em;
    margin-left: 0em;
}

header #github {
    text-decoration: none;
    padding: 0.6em;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    transition: all 0.15s ease-out;
}

header #github:hover {
    color: #2e6389;
    background-color: white;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 968px;
}

#sectionDownload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionDownload img {
    width: 968px;
    height: 734px;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.36);
}

#sectionDownload h1 {
    font-size: 2em;
    color: white;
    margin: 0;
    padding: 0;
}

#sectionDownload p {
    color: white;
    margin-top: .5em;
}

html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

#download {
    position: relative;
    top: 8em;
    padding: 0.2em;
    text-decoration: none;
    overflow: hidden;
    font-size: 3rem;
    color: #333333;
    border: 3px solid #333333;
    z-index: 99999;
    /*animation: all 0.3s ease-out;*/
}

#download::before {
    content: attr(data-text);
    padding: 0.2em;
    background: linear-gradient(305deg, #44c1a1, #9c009d);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-101%);
    transition: width 0.3s ease-out;
}

#download:hover::before {
    transform: translateX(0%);
    width: 100%;
    
}


#VEditorCap {
    position: relative;
    height: 40em;
    width: 30em;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.36);
}


.fb-like {
    margin: 3px;
}

footer {
    display: flex;
    justify-content: space-around;
}
